In [1]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time

In [5]:
pd.__version__

'2.2.2'

In [8]:
df = pd.read_csv("./2_docker_sql/yellow_tripdata_2021-01.csv", nrows=100)

In [9]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
from sqlalchemy import create_engine

In [26]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [27]:
engine.connect()

In [33]:
print(pd.io.sql.get_schema(df, name="yellow_table", con=engine))

CREATE TABLE "yellow_table" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

/var/folders/xt/7gvkdnw143dgfgsp73bsn11w0000gn/T/ipykernel_2990/1187929620.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.io.sql.get_schema(df, name="yellow_table", con=engine))

In [22]:
df_iter = pd.read_csv("./2_docker_sql/yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [29]:
df = next(df_iter)

In [30]:
len(df)

100000

In [32]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [6]:
file = pq.ParquetFile('yellow_tripdata_2024-01.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [7]:
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [2]:
import sqlalchemy; print(sqlalchemy.__version__)

2.0.37

In [3]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [7]:
len(df)

2964624

In [8]:
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

# Take the first batch for testing
df = next(batches_iter).to_pandas()
len(df)

100000

In [10]:
# with engine.connect() as conn:
#     df.head(0).to_sql(name='ny_taxi_data',con=conn.connection, if_exists='replace')

In [9]:
df.head(0).to_sql(name='ny_taxi_data',con=engine, if_exists='replace')

0

In [11]:
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken     32.291 seconds.

inserting batch 2...
inserted! time taken     46.241 seconds.

inserting batch 3...
inserted! time taken     39.439 seconds.

inserting batch 4...
inserted! time taken     25.064 seconds.

inserting batch 5...
inserted! time taken     26.941 seconds.

inserting batch 6...
inserted! time taken     26.995 seconds.

inserting batch 7...
inserted! time taken     26.536 seconds.

inserting batch 8...
inserted! time taken     28.963 seconds.

inserting batch 9...
inserted! time taken     25.239 seconds.

inserting batch 10...
inserted! time taken     26.899 seconds.

inserting batch 11...
inserted! time taken     23.470 seconds.

inserting batch 12...
inserted! time taken     23.187 seconds.

inserting batch 13...
inserted! time taken     31.332 seconds.

inserting batch 14...
inserted! time taken     28.581 seconds.

inserting batch 15...
inserted! time taken     31.406 seconds.

inserting batch 16...
inserted! time taken     28.643 seconds.

inserting batch 17...
inserted! time taken     37.708 seconds.

inserting batch 18...
inserted! time taken     28.253 seconds.

inserting batch 19...
inserted! time taken     37.826 seconds.

inserting batch 20...
inserted! time taken     27.625 seconds.

inserting batch 21...
inserted! time taken     29.350 seconds.

inserting batch 22...
inserted! time taken     24.280 seconds.

inserting batch 23...
inserted! time taken     23.054 seconds.

inserting batch 24...
inserted! time taken     22.852 seconds.

inserting batch 25...
inserted! time taken     25.250 seconds.

inserting batch 26...
inserted! time taken     40.395 seconds.

inserting batch 27...
inserted! time taken     37.470 seconds.

inserting batch 28...
inserted! time taken     23.390 seconds.

inserting batch 29...
inserted! time taken     22.323 seconds.

inserting batch 30...
inserted! time taken     14.747 seconds.

Completed! Total time taken was    866.678 seconds for 30 batches.